html {
  background-color: whitesmoke;

  font-family: "Overlock", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 15pt;
}
.menu {
  display: flex;
  gap: 1px;
  height: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border: 1px solid rgb(163, 18, 18);

}

.menu-item {
  color: whitesmoke;
  flex: 1;
  border: 1px solid black;
  background-color: rgb(170, 24, 24);
  /* background-color: #ff002a; */
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font: 20px;
}
.bodyContainer {
  display: grid;
  background-color: aliceblue;
  height: 100vh;
  gap: 1rem;
  grid-template-columns: repeat(3, 0.5fr);
}
.grid {
  grid: 1 2, 5;
  background-color: rgb(242, 244, 237);
}
.content {
  color: rgb(43, 38, 34);
  background-color: rgb(223, 220, 220);
    background-color: rgb(239, 236, 236);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  border: 10 solid black;
  margin-left: 80px;

}
#threadbtn{

  margin: 10px;
}
.threadText{


}
.threadsList{
    margin-left: 20px;

}
.cont{
  padding: 10px;
}
.pushComment{
  margin-left: 10px;
}
.mydiv{
  font-size: 10pt;
  margin-left: 30px;
  padding: 10px;
}

li {
  list-style-type: none;
}
a {
  color: rgb(29, 7, 7);
  text-decoration: none;
}
.newPostCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.submitBtn{
  display: flex;

flex-direction: row;
}
.div1{
  flex:1; 
}
#title {
  color: rgb(136, 200, 8);
  font-size:  15pt;
  /* margin-left: 10px; */
}
.isolate {
  /* display: flex; */
  /* flex: 1; */
  /* height: 10vh; */
  /* display: flex;  */
}
.popUpInputmenuCSS{
  display: none;

}
/* .isolate2{
  flex:1; 
  flex-direction: row;
  flex-direction: row-reverse;
} */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color:rgb(223, 220, 220);
  border:  hidden;
 
}
@media only screen and (max-width: 950px){
  html{
    font-size: 14px;
  }

}
@media only screen and (max-width: 680px) {

  html{
    font-size: 8pt ;
  }
  .isolate{
    
    display: inline-flex;
  }
}
