<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include ("partials/header.ejs")%>
    <!-- <div class="menu">
      <div class="menu-item first">
    
        <a href="mainMenu"> Main Menu</a>
      </div>
      <div class="menu-item second">
        <a href="newPost">New Post</a>
      </div>
      <div class="menu-item third">All Posts</div>
    </div>
    <hr /> -->
    <div class="bodyContainer">
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
      <div class="grid"></div>
    </div>

    <!-- <p>Hello world</p>
    <form action="/submit" method="POST">
      <input type="text" name="userName" placeholder="UserName: " />
      <input type="text" name="content" placeholder="Text" />
      <input type="submit" value="Submit" />
    </form> -->
  </body>
</html>
