<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include ('partials/header.ejs') %>
    <h1>The list of users:</h1>

    <% for (let i = 0; i < files.length; i++) { %>
    <li>
      <h2 id="title"><b><%= files[i].userName%></b></h2>
      <div class="content">
        <h3><%= files[i].text %></h3>
      </div>
    </li>

    <% } %>
  </body>
</html>
