<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PostManagment</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
 <div class = "cont">
    <%- include("partials/header.ejs")%>
 

    <div class="newPostCenter">
      <ul>
        <li>
          <div class="isolate">
            <h1>New Post : Enter the name and the topic and the text :</h1>
          </div>
          <div class="isolate2">
            <form action="/submit" method="POST">
              <input
                type="text"
                name="userName"
                placeholder="UserName: "
                required
              />
              <div class = "miniDiv">
              <input type="text" name="topic" placeholder="Topic" required  list="topicOptions"/>
              <datalist id = "topicOptions">
              <div>
                <option value ="Automotive"></option>
                <option value ="Pets"></option>
                <option value ="Music"></option>
              </div>
              </datalist>
              </div>
              <input type="text" name="content" placeholder="Text" required />
              <div class = "submitBtn">
                <div class = "div1">
              <input type="submit" value="Submit" />
              </div>
               <!-- <div class = "div1"><input type="submit" value="Update" /></div>
                <div class = "div1"><input type="submit" value="Delete" /></div> -->
               
                
                </div>
            </form>
          </div>
        </li>
        <li>
          <div class="isolate">
            <h1>Update Post : Enter the name and the topic and the text :</h1>
          </div>
          <div class="isolate">
            <form action="/update" method="POST">
              <input
                type="text"
                name="userName"
                placeholder="UserName: "
                required
              />
             
              <input type="text" name="content" placeholder="Text" required />
               <input type="text" name="threadId" placeholder="ThreadId" required/>
              <input type="submit" value="Submit" />
            </form>
          </div>
        </li>
        <li>
          <div class="isolate">
            <h1>Delete Post : Enter the name and the topic and the text :</h1>
          </div>
          <div class="isolate">
            <form action="/delete" method="POST">
              <input
                type="text"
                name="userName"
                placeholder="UserName: "
                required
              />
                 <input type="text" name="threadId" placeholder="ThreadId" required />
              <input type="submit" value="Submit" />
            </form>
          </div>
        </li>
      </ul>
    </div>
    <script>
      function miniMenu(){
        // var popup  = document.querySelector("miniDiv"); 
        // popup.
         const miniElement = document.querySelector(".miniDiv");
  
         const newContainerHTML = '<div id="new-container" style="background-color: yellow;">Automotive</div><div>Animals</div>';
        //  miniElement.style.display  = "none";

          miniElement.insertAdjacentHTML('afterend', newContainerHTML);
      }
    </script>
    </div>
  </body>
</html>
