<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <%- include("partials/header.ejs")%>

 


   



   <div>
    <ul>
    <% for (let i = 0; i < files.length; i++ )
    {%>
        <li>
        <div>
            
           <h1> 
             <a class="myA" href="/commentPages?topic=<%= encodeURIComponent(files[i].topic) %>"><%= files[i].topic %></a>
           

            </h1>
      
        </div>
        </li>
    <%}%>
    </ul>
   </div>

   

  

    
   
</body>
</html>